
DIV.qindex {
    width: 100%;
    background-color: #e8eef2;
    border: 1px solid #84b0c7;
    text-align: center;
    margin: 2px;
    padding: 2px;
    line-height: 140%;
}

.equation {
    text-align: center;
}

.equation_label {
    float: right;
    margin-right: 30px;
}

.a_title {
    text-decoration: none;
    color: #000;
}

.a_title:hover {
    text-decoration: underline;
}
